#new-campaign.rounded-box
  %h2 Edit Campaign
  %form{action: "/campaign/#{@campaign.id}/update", method: 'post'}
    .field
      %label 
        Title:
        =@campaign.title
    .field
      %label Voice Number:
      %select{name: 'campaign[voice_number]'}
        -@voice_numbers.each do |n|
          = n
          -if @campaign.voice_number.phone_number == n
            %option{selected: 'selected'} #{n}
          -else
            %option #{n}
    .field
      %label SMS Number:
      %select{name: 'campaign[sms_number]'}
        -@sms_numbers.each do |n|
          -if @campaign.sms_number.phone_number == n
            %option{selected: 'selected'} #{n}
          -else
            %option #{n}

    %button{type: 'submit'} Update
%a{href: "/campaigns##{@campaign.id}"} 
  %button « Back to dashboard

#original-filtered-message-template-container{style: 'display:none'}
  =haml :filtered_message_template 

