%h1 Campaign Details

#options
  %form{action: "/campaign/#{@campaign.id}/destroy", method: 'post', onsubmit: "return confirm('Really destroy #{@campaign.title}?');"}
    %button Destroy Campaign 
#back-to-home
  %form{action: "/"}
    %button «Back to Home

#campaign-information
  #tabs
    %ul
      %li
        %a{href: "#campaign-overview"}
          %span Campaign Details
      %li
        %a{href: "#broadcast"}
          %span BroadCast
      %li
        %a{href: "#export"}
          %span Export To CSV

    #campaign-overview
      #progress-wrapper
        =haml :campaign_progress, locals: {campaign: @campaign}
      #campaign-details
        %h2= "Title: #{@campaign.title}"
        #voice-number
          =haml :voice_numbers, locals:{voice_numbers: @campaign.voice_numbers}
          %a{href: "/campaign/#{@campaign.id}/assign_voice_number"} Assign another
        %h2 SMS Number
        %h3
          -if @campaign.sms_number
            =@campaign.sms_number.pretty_phone_number
          -else
            No SMS number selected
        #campaign-ringers
          .counts
            %h4.total_count
              = "#{@ring_count} " + (@ring_count !=1 ? 'Total Rings' : 'Total Ring')
            %h4.unique_count
              = "#{@ringer_count} " + (@ringer_count !=1 ? 'Unique Ringers' : 'Unique Ringer')
          #ringers-numbers
            %ul.ringers
              -@ringers.each do |ringer|
                %li= ringer.pretty_phone_number
            .number-fade-out 
      #asks
        %h2= "ASKS"
        -@campaign.asks.each do |ask|
          =haml :ask, locals: {ask: ask, type: ask.typesym}


    #broadcast.form-box
      %h3 Broadcast
      %form{name: 'broadcast', action: "/campaign/#{@campaign.id}/broadcast", method: 'post'}
        #filter-container
          #broadcast-filter.filter-buttons
            %input#all1{type: 'radio', name: 'filter', value: 'all', checked: 'checked'}
            %label.all-label{for: 'all1'}= "All #{@ringer_count}"
            %input#new1{type: 'radio', name: 'filter', value: "after:#{@campaign.most_recent_broadcast || @campaign.created_at}"}
            %label.new-label{for: 'new1'}= "#{@campaign.new_rings.count} New"
            %input#country1{type: 'radio', name: 'filter', value: 'country:'}
            %label{for: 'country1'} Country
        #filter-options{style: 'display:none'}
        %textarea#broadcast-text-area.msg-text-area{name: 'message', placeholder: 'Hello ringers...'}
        %button#broadcastbutton{disabled: 'disabled'} Broadcast

    #export.form-box
      %h3 Export to CSV
      %form{name: 'export', action: "/campaign/#{@campaign.id}/csv", method: 'get'}
        #filter-container
          #export-filter.filter-buttons
            %input#all2{type: 'radio', name: 'filter', value: 'all', checked: 'checked'}
            %label.all-label{for: 'all2'}= "All #{@ringer_count}"
            %input#new2{type: 'radio', name: 'filter', value: "after:#{@campaign.most_recent_broadcast || @campaign.created_at}"}
            %label.new-label{for: 'new2'}= "#{@campaign.new_rings.count} New"
            %input#country2{type: 'radio', name: 'filter', value: 'country:'}
            %label{for: 'country2'} Country
        #filter-options{style: 'display:none'}
        -@all_fields.each do |field|
          %input{type: 'checkbox', name: "fields[#{field.id}]", value: 'yes', checked:field.default? && 'checked'}= field.display_name
        %button#exportbutton Export

#basic-chart= high_chart("basic-chart", @basic_chart) 

#country-options{style: 'display:none'}
  %form
    -if @countries.empty?
      No countries to select from.
    -@countries.each do |country|
      %label{for: "check#{country.char_3_code}"}
        %input{id: "check#{country.char_3_code}", type: 'checkbox', name: 'country', value: "#{country.char_3_code}"}= "#{country.name} [#{country.char_3_code}]"
        



