%h2= "Assign Voice Number for #{@campaign.title}"
%form{action: "/campaign/#{@campaign.id}/voice_numbers/create", method: 'post'}
  -if @voice_numbers.empty?
    %h3 Sorry, no voice numbers currently available.
  -else 
    .field
      %label Voice Number:
      %select{name: 'voice_number[phone_number]'}
        -@voice_numbers.each do |n|
          %option #{n}
    .field
      %label Description (Please less than 50 characters):
      %input{type: 'text', name: 'voice_number[description]', placeholder: 'Billboard, Radio, ...'}
    %button{type: 'submit'} Assign
%form{action: "/campaigns##{@campaign.id}", method: 'get'}
  %button « Back
