#new-campaign.rounded-box
  %h2=  "Campaign Settings for #{@title}"
  %form{action: '/campaign/create/missed_call', method: 'post'}
    %h3
      SMSes for this campaign will be sent from
      %b= pretty_phone_number(@sms_number)
    %hr
    %input{type: 'hidden', name: 'campaign[title]', value: @title}
    %input{type: 'hidden', name: 'campaign[goal]', value: @goal}
    -@number_summary.each do |entry|
      %h3= pretty_phone_number(entry[:number])
      %h3= "#{entry[:region][:country]} - #{entry[:region][:region] || 'General'}"
      %h4 Add a description for the number
      %input{type: 'hidden', name: 'campaign[voice_numbers][][phone_number]', value: entry[:number]}
      %input.title-input{type: 'text', name: 'campaign[voice_numbers][][description]', placeholder: 'Use this space to describe where the number will be promoted, etc.'}
      %hr
    %input{type: 'hidden', name: 'campaign[sms_number]', value: @sms_number}

    %button{type: 'submit'}
      Complete Campaign Creation