%h1 Campaign Details

#options
  %form{action: "/campaign/#{@campaign.id}/destroy", method: 'post', onsubmit: "return confirm('Really destroy #{@campaign.title}?');"}
    %button Destroy Campaign 
#back-to-home
  %form{action: "/"}
    %button «Back to Home

#campaign-information
  #tabs
    %ul
      %li
        %a{href: "#campaign-overview"}
          %span Campaign Details
      %li
        %a{href: "#basic-chart"}
          %span Analytics
      %li
        %a{href: "#export"}
          %span Export To CSV

    #campaign-overview
      #progress-wrapper
        =haml :campaign_progress, locals: {campaign: @campaign}
        %a.edit-goal-link{href: "/campaign/#{@campaign.id}/edit-goal"} edit goal
      #campaign-details
        %h2= "Title: #{@campaign.title}"
        #voice-number
          =haml :voice_numbers, locals:{campaign: @campaign}
          %a{href: "/campaign/#{@campaign.id}/assign_voice_number"} Need another number?
        %h2 SMS Number
        %h3
          -if @campaign.sms_number
            =@campaign.sms_number.pretty_phone_number
          -else
            No SMS number selected
        #campaign-ringers
          .counts
            %h4.total_count
              = "#{@ring_count} " + (@ring_count !=1 ? 'Total Rings' : 'Total Ring')
            %h4.unique_count
              = "#{@ringer_count} " + (@ringer_count !=1 ? 'Unique Ringers' : 'Unique Ringer')
          #ringers-numbers
            %ul.ringers
              -@ringers.each do |ringer|
                %li= ringer.pretty_phone_number
            .number-fade-out 
      #asks
        %h2= "ASKS"
        -@campaign.asks.each do |ask|
          -if @campaign.asks.select{|n| n.triggered_ask && n.triggered_ask == ask}.empty? && ask != @campaign.asks.first
            %form{action: "/campaign/#{@campaign.id}/asks/#{ask.id}/trigger", method: "post"}
              %button{type:'submit'} Launch the Ask

          =haml :ask, locals: {ask: ask, type: ask.class.typesym}
        %form{action: "/campaign/#{@campaign.id}/asks/new", method: 'get'}
          %button Add new ask

    #export.form-box
      %h3 Export to CSV
      %form{name: 'export', action: "/campaign/#{@campaign.id}/csv", method: 'get'}
        #filter-container
          #export-filter.filter-buttons
            %input#all2{type: 'radio', name: 'filter', value: 'all', checked: 'checked'}
            %label.all-label{for: 'all2'}= "All #{@ringer_count}"
            %input#country2{type: 'radio', name: 'filter', value: 'country:'}
            %label{for: 'country2'} Country
        #filter-options{style: 'display:none'}
        -@all_fields.each do |field|
          %input{type: 'checkbox', name: "fields[#{field.id}]", value: 'yes', checked:field.default? && 'checked'}= field.display_name
        %button#exportbutton Export

    #basic-chart
      %h3 Statistic Analysis
      = high_chart("basic-chart", @basic_chart) 

#country-options{style: 'display:none'}
  %form
    -if @countries.empty?
      No countries to select from.
    -@countries.each do |country|
      %label{for: "check#{country.char_3_code}"}
        %input{id: "check#{country.char_3_code}", type: 'checkbox', name: 'country', value: "#{country.char_3_code}"}= "#{country.name} [#{country.char_3_code}]"
        



