%h1 Campaign Details

#options
  %form{action: "/campaign/#{@campaign.id}/destroy", method: 'post', onsubmit: "return confirm('Really destroy #{@campaign.title}?');"}
    %button Destroy Campaign 
#back-to-home
  %a{href: "/"}
    %button «Back to Home

#campaign-information
  #campaign-details
    %h2= @campaign.title
    %h4= "Introductory message:<br /> #{@campaign.introductory_message}"
    -@campaign.assigned_phone_numbers.each do |number|
      %h3= number.pretty_phone_number
    #campaign-ringers
      %h3.count
        = "#{@ringer_count} " + (@ringer_count !=1 ? 'Ringers' : 'Ringer')
      #ringers-numbers
        %ul.ringers
          -@ringers.each do |ringer|
            %li= ringer.pretty_phone_number
        .number-fade-out 

    
  #broadcast.form-box
    %h3 Broadcast
    %form{name: 'broadcast', action: "/campaign/#{@campaign.id}/broadcast", method: 'post'}
      #filter-container
        #broadcast-filter.filter-buttons
          %input#all1{type: 'radio', name: 'filter', value: 'all', checked: 'checked'}
          %label.all-label{for: 'all1'}= "All #{@ringer_count}"
          %input#new1{type: 'radio', name: 'filter', value: "after:#{@campaign.most_recent_broadcast || @campaign.created_at}"}
          %label.new-label{for: 'new1'}= "#{@campaign.new_memberships.count} New"
          %input#country1{type: 'radio', name: 'filter', value: 'country:'}
          %label{for: 'country1'} Country
      #filter-options{style: 'display:none'}
      %textarea#broadcast-text-area.msg-text-area{name: 'message', placeholder: 'Hello ringers...'}
      %button#broadcastbutton{disabled: 'disabled'} Broadcast

  #export.form-box
    %h3 Export to CSV
    %form{name: 'export', action: "/campaign/#{@campaign.id}/csv", method: 'get'}
      #filter-container
        #export-filter.filter-buttons
          %input#all2{type: 'radio', name: 'filter', value: 'all', checked: 'checked'}
          %label.all-label{for: 'all2'}= "All #{@ringer_count}"
          %input#new2{type: 'radio', name: 'filter', value: "after:#{@campaign.most_recent_broadcast || @campaign.created_at}"}
          %label.new-label{for: 'new2'}= "#{@campaign.new_memberships.count} New"
          %input#country2{type: 'radio', name: 'filter', value: 'country:'}
          %label{for: 'country2'} Country
      #filter-options{style: 'display:none'}
      -@all_fields.each do |field|
        %input{type: 'checkbox', name: "fields[#{field.id}]", value: 'yes', checked:field.default? && 'checked'}= field.display_name
      %button#exportbutton Export
  #basic-chart= high_chart("basic-chart", @basic_chart) 

#country-options{style: 'display:none'}
  %form
    -if @countries.empty?
      No countries to select from.
    -@countries.each do |country|
      %label{for: "check#{country.char_3_code}"}
        %input{id: "check#{country.char_3_code}", type: 'checkbox', name: 'country', value: "#{country.char_3_code}"}= "#{country.name} [#{country.char_3_code}]"



