<h2>Campaign Details</h2>

<div id="campaign-information">
  <div id="campaign-details">
    <h3><%= @campaign.title %> </h3>
    <h3><%= @campaign.pretty_phone_number %></h3>

    <div id="campaign-supporters">
      <h3><div class="count"><%= @supporter_count %> Supporter<% if @supporters.length != 1 %>s<% end %></div></h3>
    
      <div id="supporters-numbers">
        <ul class="supporters">
          <% for @supporter in @supporters %>
            <li><%= @supporter.pretty_phone_number %></li>
          <% end %>
        </ul>
        <div class="number-fade-out"></div>
      </div>
    </div>
  
    <form action="/campaign/<%= @campaign.phone_number %>/destroy" method="post" onsubmit="return confirm('Really destroy <%= @campaign.title %>?');">
      <button type="submit">Destroy Campaign</button>
    </form>
  </div>
  

  <div id="broadcast" class="form-box">
    <h3>Broadcast</h3>
    <form name="broadcast" action="/campaign/<%= @campaign.phone_number %>/broadcast" method="post">
      <div id="filter-container">
        <div id="broadcast-filter" class="filter-buttons">
          <input type="radio" name="filter" value="all" id="all1" checked="checked" />
          <label class="all-label" for="all1">All <%= @supporter_count %></label>
          <input type="radio" name="filter" value="after:<%= @campaign.most_recent_broadcast %>" id="new1" />
          <label class="new-label" for="new1"><%= @campaign.new_supporters.count %> New</label>
          <input type="radio" name="filter" value="country:" id="country1" />
          <label for="country1">Country</label>
        </div>
      </div>
      <div id="filter-options" style="display:none;"></div>
      <textarea name="message" placeholder="Hello supporters..." id="broadcast-text-area"></textarea>
      <button type="submit" id='broadcastbutton' disabled='disabled'>Broadcast</button>
    </form>
  </div>

  <div id="export" class="form-box">
    <h3>Export to CSV</h3>
    <form name="export" action="/campaign/<%= @campaign.phone_number %>/csv" method="get">
      <div id="filter-container">
        <div id="export-filter" class="filter-buttons">
          <input type="radio" name="filter" value="all" id="all2" checked="checked" />
          <label class="all-label" for="all2">All <%= @supporter_count %></label>
          <input type="radio" name="filter" value="after:<%= @campaign.most_recent_broadcast %>" id="new2" />
          <label class="new-label" for="new2"><%= @campaign.new_supporters.count %> New</label>
          <input type="radio" name="filter" value="country:" id="country2" />
          <label for="country2">Country</label>
        </div>
      </div>
      <div id="filter-options" style="display:none;"></div>
      <% for field in @all_fields %>
        <input type="checkbox" name="fields[<%= field.id %>" value="yes" <%= 'checked="checked"' if field.default? %>><%= field.display_name %>
      <% end %>
      <button type="submit" id='exportbutton'>Export</button>
    </form>
  </div>
</div>


<div id="country-options" style="display:none">
  <form>
    <% if @countries.empty? %>
      No countries to select from.
    <% end %>

    <% for @country in @countries %>
      <label for="check<%= @country.char_3_code %>">
        <input id="check<%=@country.char_3_code %>" type="checkbox" name="country" value="<%= @country.char_3_code %>" /><%= "#{@country.name} [#{@country.char_3_code}]" %>
    </label>
    <% end %>
  </form>
</div>

