%h1 Campaign Details

#options
  %form{action: "/campaign/#{@campaign.id}/destroy", method: 'post', onsubmit: "return confirm('Really destroy #{@campaign.title}?');"}
    %button Destroy Campaign 
#back-to-home
  %form{action: "/"}
    %button «Back to Home

#campaign-information
  #tabs
    %ul
      %li
        %a{href: "#campaign-overview"}
          %span Campaign Details
      %li
        %a{href: "#basic-chart"}
          %span Analytics
      %li
        %a{href: "#export"}
          %span Export To CSV

    #campaign-overview
      #progress-wrapper
        =haml :campaign_progress, locals: {campaign: @campaign}
        .goal-data
          %a.edit-goal-link{href: "/campaign/#{@campaign.id}/edit-goal"}= "edit goal: #{@campaign.goal}"
          .goal-cost
            -if @sms_cost
              One cost to text them all
              .total=sprintf '$%.2f', (@campaign.goal * @sms_cost)
            -else
              ="unable to calculate cost to reach goal."
      %h1= @campaign.title
      .counts
        %h3.unique_count
          =pluralize(@ringer_count, 'Unique Ringer')
          ="(#{@campaign.ringers.subscribed.count} subscribed)"
        %h3.total_count
          =pluralize(@ring_count, 'Total Ring')
      #campaign-details
        #voice-number
          =haml :voice_numbers, locals:{campaign: @campaign}
          %form{action: "/campaign/#{@campaign.id}/voice_numbers/new", method: 'get'}
            %button{type: 'submit'} I need another number
        #sms-number
          %h2 Text Number
          %h3
            -if @campaign.sms_number
              =@campaign.sms_number.pretty_phone_number
              -if @sms_cost
                %h4="Estimated cost per text message: $#{@sms_cost}"
              -else
                %h4 Cost per text message: Unknown.
            -else
              No Text number selected
        #campaign-ringers
          %h2 Recent Ringers
          #ringers-numbers
            %ul.ringers
              -@ringers.each do |ringer|
                %li= ringer.pretty_phone_number
            .number-fade-out 
      #asks
        %h2= "ASKS"
        -@campaign.asks.each do |ask|
          %hr
          =haml :ask, locals: {ask: ask, type: ask.class.typesym}
          -if @campaign.asks.select{|n| n.triggered_ask && n.triggered_ask == ask}.empty? && ask != @campaign.asks.first
            %form{action: "/campaign/#{@campaign.id}/asks/#{ask.id}/trigger", method: "post"}
              %button{type:'submit'} Launch
            %form{action: "/campaign/#{@campaign.id}/asks/#{ask.id}/destroy", method: "post"}
              %button{type:'submit'} Remove

        %hr
        %form{action: "/campaign/#{@campaign.id}/asks/new", method: 'get'}
          %button Add new ask

    #export.form-box
      %h3 Export to CSV
      %form{name: 'export', action: "/campaign/#{@campaign.id}/csv", method: 'get'}
        #filter-container
          #export-filter.filter-buttons
            %input#all2{type: 'radio', name: 'filter', value: 'all', checked: 'checked'}
            %label.all-label{for: 'all2'}= "All #{@ringer_count}"
            %input#country2{type: 'radio', name: 'filter', value: 'country:'}
            %label{for: 'country2'} Country
        #filter-options{style: 'display:none'}
        -@all_fields.each do |field|
          %input{type: 'checkbox', name: "fields[#{field.id}]", value: 'yes', checked:field.default? && 'checked'}= field.display_name
        %button#exportbutton Export

    #basic-chart
      %h3 Statistic Analysis
      = high_chart("basic-chart", @basic_chart) 

#country-options{style: 'display:none' }
  %form
    -if @countries.empty?
      No countries to select from.
    -@countries.each do |country|
      %label{for: "check#{country.char_3_code}"}
        %input{id: "check#{country.char_3_code}", type: 'checkbox', name: 'country', value: "#{country.char_3_code}"}= "#{country.name} [#{country.char_3_code}]"
        



