<h1><%= @campaign.title %> (<%= @campaign.pretty_phone_number %>)</h1>

<div id="supporters">
  <h2><div class="count"><%= @supporters.size %> Supporter<% if @supporters.size != 1 %>s<% end %></div></h2>
  <% if @supporters.empty? %>
    <ul class="supporters"></ul>
  <% else %>
    <ul class="supporters">
      <% for @supporter in @supporters %>
        <li><%= @supporter.phone_number %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<h2>Broadcast</h2>
<form action="/broadcast" method="post">
  <textarea name="message" rows="4" cols="20">Hello supporters!</textarea>
  <input type="hidden" name="number" value="<%= params[:number] %>" /><br />
  <input type="submit" value="Broadcast" />
</form>

<form action="/campaign/destroy" method="post">
  <input type="hidden" name="number" value="<%= params[:number] %>" />
  <input type="submit" value="Destroy" />
</form>