#campaign-information
  #tabs
    %ul
      %li
        %a{href: "#campaign-overview"}
          %span Campaign Details
      %li
        %a{href: "#campaign-asks"}
          %span Asks
      %li
        %a{href: "#campaign-ivr"}
          %span IVRs 
      %li
        %a{href: "#campaign-analytics"}
          %span Analytics
      %li
        %a{href: "#campaign-export"}
          %span Export To CSV

    #campaign-overview
      #progress-wrapper
        =haml :campaign_progress, locals: {campaign: @campaign}
      #embedded-url
        %h3 Embed progress bar
        %div
          %textarea.iframe-text-area.embedded-url{type: 'textarea'} <iframe src="#{ENV['SERVER_NAME']}/campaign/#{@campaign.id}/progress-embed?color=coral" frameborder="0" scrolling="no" width="100%"></iframe>

      .goal-data
        %a.edit-goal-link{href: "/campaign/#{@campaign.id}/edit-goal"}= "edit goal: #{@campaign.goal}"
        .goal-cost
          -if @sms_cost
            Estimated cost of automatic SMS responses:
            .total=sprintf '$%.2f', (@campaign.goal * @sms_cost)
          -else
            ="unable to calculate cost to reach goal."
      .counts
        %h3.unique_count
          =pluralize(@ringer_count, 'Unique Ringer')
          ="(#{@campaign.ringers.subscribed.count} subscribed)"
        %h3.total_count
          =pluralize(@ring_count, 'Total Ring')

      #campaign-ringers
        %h2 Recent Ringers
        #ringers-numbers
          %ul.ringers
            -@ringers.each do |ringer|
              %li= ringer.pretty_phone_number
          .number-fade-out
          
      #campaign-details
        #voice-number
          =haml :voice_numbers, locals:{campaign: @campaign}
          %form{action: "/campaign/#{@campaign.id}/voice_numbers/new", method: 'get'}
            %button{type: 'submit'} I need another number
        #sms-number
          %h2 Text Number
          %h3
            -if @campaign.sms_number
              =@campaign.sms_number.pretty_phone_number
              -if @sms_cost
                %h4="Estimated cost per text message: $#{@sms_cost}"
              -else
                %h4 Cost per text message: Unknown.
            -else
              No Text number selected
        #options
          %form{action: "/campaign/#{@campaign.id}/destroy", method: 'post', onsubmit: "return confirm('Really destroy #{@campaign.title}?');"}
            %button Destroy Campaign 
    #campaign-asks
      %h2= "ASKS"
      -@campaign.asks.each_with_index do |ask, index|
        =haml :ask, locals: {ask: ask, index: index + 1, type: ask.class.typesym}
        -unless @campaign.triggered_ask?(ask)
          %form{action: "/campaign/#{@campaign.id}/asks/#{ask.id}/trigger", method: "post"}
            %button{type:'submit'} Launch
          %form{action: "/campaign/#{@campaign.id}/asks/#{ask.id}/destroy", method: "post"}
            %button{type:'submit'} Remove
        -if ask.message
          %form{action: "/campaign/#{@campaign.id}/asks/#{ask.id}/edit", method: "get"}
            %button{type:'submit'} Edit
        %hr
      %form{action: "/campaign/#{@campaign.id}/asks/new", method: 'get'}
        %button Add new ask


    #campaign-ivr
      %h2="Interactive voice responses"
      -if @campaign.ivrs
        -@campaign.ivrs.each do |ivr|
          .field
            = "#{ivr.read_text} is activated"
          .field
            - ivr.key_options.each do |k|
              = k.ringer_count
          

      %form{action: "/campaign/#{@campaign.id}/ivrs/create", method: 'post'}
        .field
          .label{for: 'auto_text'} Text to be read:
          %input.title-input{id: 'auto_text', type:'text', size: 50, name: 'ivr[auto_text]'}
        .field
          #key-options
          %button{type:'button', onclick: "window.addKeyOption();"} Add new key option
        %button{type: 'submit'}Add a new IVR
        .note
          IVR is only for campaigns in Brasil and Africa.


    #campaign-export
      %h3 Export to CSV
      %form{name: 'export', action: "/csv", method: 'get'}
        =haml :export_csv
        %input{type: 'hidden', name:'option', value: "#{@campaign.id}"}

    #campaign-analytics
      #basic-chart
        %h3 Statistic Analysis
        = high_chart("basic-chart", @basic_chart) 
#country-options{style: 'display:none' }
  %form
    -if @countries.empty?
      No countries to select from.
    -@countries.each do |country|
      %label{for: "check#{country.char_3_code}"}
        %input{id: "check#{country.char_3_code}", type: 'checkbox', name: 'country', value: "#{country.char_3_code}"}= "#{country.name} [#{country.char_3_code}]"
#original-ivr-key-option-template-container{style: 'display:none' }
  =haml :campaign_ivr_key_option_template



