#new-campaign.rounded-box
  %h2=  "Campaign Settings for #{@title}"
  %form{action: '/campaign/create', method: 'post'}
    %input{type: 'hidden', name: 'campaign[title]', value: @title}
    -@number_summary.each do |entry|
      %h3= entry[:number].format "+%c (%a) %f-%l" + " [" + entry[:number].country.char_3_code + "]"
      %h3= "#{entry[:region][:country]} - #{entry[:region][:region] || 'General'}"
      %h4 Add a description for the number
      %input{type: 'hidden', name: 'campaign[voice_numbers][][phone_number]', value: entry[:number]}
      %input.title-input{type: 'text', name: 'campaign[voice_numbers][][description]', placeholder: 'Use this space to describe where the number will be promoted, etc.'}
      %hr
    %input{type: 'hidden', name: 'campaign[sms_number]', value: @sms_number}
    %button{type: 'submit'}
      Complete Campaign Creation