<html>
  <head>
    <link rel="stylesheet/less" type="text/css" href="stylesheets/application.less">
    <script type="text/coffeescript" src='javascript/application.coffee'></script>

    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
    <script src="javascript/less-1.3.0.min.js" type="text/javascript"></script>
    <script src="javascript/coffee-script-1.3.1.min.js" type="text/javascript"></script>
    <script src="http://js.pusher.com/1.12/pusher.min.js" type="text/javascript"></script>
     <script type="text/javascript">
      window.pusher_key = '<%= ENV['PUSHER_KEY'] %>';
    </script> 
  </head>
  <body>
    <div class="content">
      <header>
        <img class="logo" src="crowdringlogo.png" width="40" />
        <h1>Crowdring</h1>
      </header>

      <% if flash.has?(:notice) %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>

      <h2>Campaigns</h2>
      <select name="number" class="number">
        <option value="">Select a number to see subscribers</option>
        <% for @campaign in @campaigns %>
          <option value=<%= @campaign.phone_number %>><%= @campaign.title %> (<%= @campaign.phone_number %>)</option>
        <% end %>
      </select>

      <div id="campaign"></div>

      <footer>
        <a href="/campaign/new">new campaign</a>
      </footer>
    </div>
  </body>
</html>
