<html>
  <body>
    <%= erb :logoHeader %>
    <div class="content">
      
      <% if flash.has?(:notice) %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>

      <h2>Campaigns</h2>
      <div class="new_campaign">

        <form action="/campaign/new" method="get" >
          <button>New Campaign</button>
        </form>
      </div>

      <select class="campaign-select" data-placeholder="Choose a campaign">
        <option value=""></option>
        <% for @campaign in @campaigns %>
          <option value=<%= @campaign.phone_number %>><%= @campaign.title %> (<%= @campaign.pretty_phone_number %>)</option>
        <% end %>
      </select>

      <div id="campaign"></div>
     </div>
  </body>
</html>
