#introductory_response
  %h3 Messages
  #messages 
    -introductory_response.nondefault_messages.each do |fm|
      %label When:
      .message
        -fm.tag_filter.tags.each do |tag|
          -type, value = tag.to_s.split(":")
          %li= type.capitalize + " : " + value
      %label Then:
      .message
        = "\"#{fm.message}\""
    %label Default:
    .message  
      = "\"#{introductory_response.default_message}\""
