#message
  %h3 Messages
  #messages 
    -message.nondefault_messages.each do |fm|
      %label If:
      .message
        -fm.tag_filter.constraints.each do |constraint|
          %li= constraint.to_readable
      %label Then:
      .message
        = "\"#{fm.message_text}\""
    -if message.default_message && !message.default_message.empty?
      %label Default:
      .message
        = "\"#{message.default_message}\""
