#message
  %h3 Messages
  #messages 
    -message.nondefault_messages.each do |fm|
      %label If:
      .message
        -fm.tag_filter.tags.each do |tag|
          %li= tag.readable_s
      %label Then:
      .message
        = "\"#{fm.message_text}\""
    -if message.default_message && !message.default_message.empty?
      %label Default:
      .message
        = "\"#{message.default_message}\""
