#message
  %h3 Messages
  #messages 
    -message.nondefault_messages.each do |fm|
      %label When:
      .message
        -fm.tag_filter.tags.each do |tag|
          %li= tag
      %label Then:
      .message
        = "\"#{fm.message_text}\""
    %label Default:
    .message  
      = "\"#{message.default_message}\""
