%h3= "#{index} - #{ask.title} - Request a text message"
="#{ask.recipients.count} recipients / #{ask.respondents.count} respondents"
=haml :message, locals: {message: ask.message}
#texts
  -ask.texts.each do |t|
    %li= t.message