%h3= "#{index} - #{ask.title} - Request a voice message"
%div="#{ask.recipients.count} recipients / #{ask.respondents.count} respondents"
=haml :message, locals: {message: ask.message}
= ask.prompt
%h4= "Prompt #{ask.prompt}"
%h4 Voicemails:
-ask.voicemails.each do |vm|
  %a{href: vm.filename}= vm.id
